body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
    line-height: 1.5;
}

a {
    text-decoration: none;
    font-style: normal;
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
}

/* ====== HEADER STYLES ====== */
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-part {
    color: #2e2f42;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-link:active, 
.nav-link:focus,
.nav-link:hover {
    color: #404BBF;
}

.address {
    font-style: normal;
}

.address-link {
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-link:active,
.address-link:focus,
.address-link:hover {
    color:#404BBF;
}

/* ====== HERO STYLES ====== */
.hero-section {
    background-color: #2e2f42
}
.main-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
}

.order-service-btn {
    color: #ffffff;
    background-color: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

.order-service-btn:focus,
.order-service-btn:hover {
    background-color: #404BBF;
}

/* ====== BENEFITS STYLES ======= */
.benefits-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.benefits-list-text {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
}

/* ======== OUR TEAM STYLES ===== */
.our-team-section {
    background-color: #f4f4fd;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.team-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-list-item {
    background-color: #ffffff;
}

.team-list-text {
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
    text-align: center;
}

/* ====== OUR PORTFOLIO STYLES ====== */
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
}

.portfolio-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-list-text{
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.02em;
}

/* ========  FOOTER STYLES ====== */
.footer-text {
    font-size: 16px;
    letter-spacing: 0.02em;
    color: #f4f4fd;
}

.footer-section {
    background-color: #2e2f42;
}

.logo-footer {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo-part-footer {
    color: #f4f4fd;
}